<body>
    <div id="naglowek">Czatownik</div>
    <div id="box">
      <div id="content">
      <div id="operation">Rejestracja</div>
      <br>
      <div id="dane">Username</div>
      <span class="p-float-label">
        <input pInputText id="username"/>
      </span>
  
      <div id="dane1">Password</div>
      <span class="p-float-label">
        <input pInputText id="username" type="password"/>
      </span>
      
      <div id="footerzaloguj">
        <div id="pomoc"><a href="#">Masz już konto?</a></div>
        <div id="buttonz"><p-button label="Register"></p-button></div>
      </div>
    
    </div>
    </div>
  </body>